/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
}

button {
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  margin: 1em 0;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
}