* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #333;
  display: table;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1em 0 0 0;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-container> article {
  text-align: center;
  padding: 20px 0;
}