/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.5em 0 0.2em;
}

button {
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  margin: 1em 0;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-container > article {
  text-align: center;
  padding: 2em 1em;
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--green-opacity);
}

.grid-container > article img {
  width: 100%;
  max-width: 250px;
  height: auto;
}
