* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #333;
  display: table;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1em 0;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}