/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --green-opacity: rgba(38, 76, 89, 0.2);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --white: #fff;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --text-color-out-of-stock: rgb(89, 38, 38);
    --text-color-in-stock: rgb(172, 198, 201);
}

/* ---------- general styling ---------- */
html {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.05em;
}

h3 {
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0.5em 0 0.2em;
}

img {
    width: 100%;
    height: auto;
}

/* ---------- grid container styling ---------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    gap: 1em;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-container > article {
    text-align: center;
    padding: 2em 1em;
    background-color: var(--white);
    transition: 0.3s;
    cursor: pointer;
}

.grid-container > article:hover {
    box-shadow: 0 8px 16px 0 var(--green-opacity);
}

.grid-container > article img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

/* ---------- form styling ---------- */
form {
    margin: auto;
    padding: 2em 0;
}

form button {
    padding: 12px 15px;
    font-size: 1em;
    width: 100%;
    max-width: 350px;
}

button {
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 0;
    color: var(--text-color-light);
    background-color: var(--green);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-size: 0.8em;
}

input {
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    background: var(--white);
    border: 5px solid var(--light-green);
}
