/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- styling ---------- */
/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}

iframe {
  border: none;
  width: 100%;
  height: 250px;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}