/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 400;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
}

a{
  color: var(--green);
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--green);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- about styling ---------- */
#the-team, #testimonials{
  height: 100vh;
  padding: 4em 0;
}

#testimonials{
  background-color: var(--light-green);
}