/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 300;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 400;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 20px;
}

.topbar a.right {
  right: 20px;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--green);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- input form stryling ---------- */
form {
  padding: 2em 1em 2.5em;
}

form button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

article button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 8px;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
}

article button.rm {
  background-color: var(--light-green);
  color: var(--green);
}

input {
  margin: 0.5em auto 2em;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

textarea {
  margin: 0.5em auto 2em;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-container>article {
  text-align: center;
  padding: 2em;
}

.grid-container>article img {
  max-width: 150px;
  width: 100%;
  margin-bottom: 1em;
}

.grid-container>article h2 {
  font-weight: 400;
}

.image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

/* ---------- card styling ---------- */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.firebaseui-form-actions {
  display: inline-flex;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}